.home_page_section{
    position: relative;
    background-image: url(../assets/robin.jpg); 
    background-repeat: no-repeat;
    background-position: center center;

    background-size: cover;
    background-attachment: fixed;
    padding-top:130px;
    
    padding-bottom: 90px;
    width: 100%;   
    box-shadow:  0 1px 20px rgba(0, 0, 0, 0.3);
}
.home_page_section .pizza_img{
     max-width:450px;
     max-height:450px;
}
.home_page_section .pizza_name_img{
    max-width:551px;
    max-height:450px;
}
.home_page_section h1{
    color:#f7be27;
    text-shadow: 1px 0px 1px #d6ba0f;
}
.home_page_section .button_box{
    margin-top: -53px;
}

    